{% extends 'base.html.twig' %}

{% block title %}Checkout Success!{% endblock %}

{% block body %}
    <style>
        th {
            text-align: left;
        }
    </style>
    <h1>Checkout Success!</h1>
    <h2>Your info</h2>
    <table>
        <tr>
            <th>Name</th>
            <td>{{ checkoutData["name"] }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>{{ checkoutData["e-mail"] }}</td>
        </tr>
    </table>
    <h2>Your order</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Name</th>
                <th>Price per product</th>
                <th>Total price for this product</th>
            </tr>
        </thead>
        <tbody>
        {% set totalPrice = 0 %}
        {% for product in products %}
            {% for id in app.session.get('cart') %}
                {% if id[0] == product.id %}
                    <tr>
                        <td>{{ id[1] }}</td>
                        <td>{{ product.name }}</td>
                        <td>&euro; {{ product.price }}</td>
                        <td>&euro; {{ id[1] * product.price }}</td>
                    </tr>
                    {% set totalPrice = totalPrice + (id[1] * product.price) %}
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="2"></td>
                <th>total</th>
                <td>&euro; {{ totalPrice }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}