{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Descriptiom</th>
                <th>Image</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>&euro; {{ product.price }}</td>
                <td>{{ product.descriptiom }}</td>
                <td><img class="productimage" src="{{ asset(product.image) }}"></td>
                <td>{{ product.category }}</td>
                <td class="actionscell">
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a><br />
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a><br />
                    <a href="{{ path('product_add', {'id': product.id}) }}">add</a><br />
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
